<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.web.yogataupan.infomobil">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splash_screen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".merk_mobil"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tipe_mobil"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail_tipe_mobil"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".news_info"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail_news"
            android:launchMode="singleTop"
            android:parentActivityName=".news_info"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:value=".news_info" />
        </activity>
        <activity
            android:name=".lokasi_atpm"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail_atpm"
            android:launchMode="singleTop"
            android:parentActivityName=".lokasi_atpm"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:value=".lokasi_atpm" />
        </activity>
    </application>

</manifest>